<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header-section" th:fragment="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/" >
                    <img src="/images/logo/logo.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="#0" class="active">Now Showing</a>
                </li>
                <li>
                    <a href="#0" >Coming soon</a>
                </li>
                <li>
                    <a href="#0">blog</a>
                    <ul class="submenu">
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="blog-details.html">Blog Single</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">contact</a>
                </li>
                <!-- B1 - Usecase Sign In               -->
                <li class="header-button pr-0" th:if="${user==null}">
                    <a th:href=@{/signIn} >Sign In</a>
                </li>
                <li class="header-button pr-0" th:unless="${user==null}">
                    <a th:href=@{/userUpdate} th:text=" ${user.email}"></a>
                    <a th:href=@{/logout} onclick="cleanCookie()" style="padding: 10px 18px" title="Logout" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
                <li class="header-button pr-0" th:unless="${user==null}">

                </li>

            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
</body>
<script>
    function cleanCookie(){
        localStorage.clear()
    }
</script>
</html>